<div class="container">
    <div class="image-container">
        <div class="image-overlay"></div>
        <img class="movie-image" src={{poster}} alt="{{title}}">
    </div>  

    <div id="back-button">
        <img class="back-button-icon" src="../assets/arrow-left-square.svg" alt="">
        <p>Tillbaka till Movies</p>
    </div>

    <div class="movie-content">
        <h1>{{ title }} ({{year}})</h1>
        <p>{{ genres }}</p>
        <div class="rating-section">
            <img class="imdb-icon" src="../assets/imdb-logo.png" alt=""/>
            <img class="star-icon" src="../assets/star.svg" alt=""/> <p>{{ rating }}/10</p>
        </div>
    </div>
</div>