<h2>Add a new movie to your list</h2>
<form class="form-group" action="/new-movie" method="post">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="year" placeholder="Year" />
  <input type="number" name="rating" placeholder="Rating" />
  <input type="text" name="genres" placeholder="Genres" />
  <input type="url" name="poster" placeholder="Poster image link" />
  <input type="submit" value="Save" />
</form>
<main>
  <div class="cards">
    {{#each movies}}
      <div class="card">
        <a href="/movies/{{id}}">
          <div class="card__image-container">
            <img src={{poster}} />
          </div>
          <div class="card__content">
            <p class="card__title text--medium">
              {{title}}
              ({{year}})
            </p>
            <div class="card__info">
              <p class="text--medium">{{genres}}</p>
              <p class="card__price text--medium">{{rating}}/10</p>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</main>