<h2>Add a new movie to your list</h2>

<form action="/new-movie" method="post">
    <input type="text" name="title" placeholder="Title"> <br>
    <input type="text" name="year" placeholder="Year"><br>
    <input type="number" name="rating" placeholder="Rating"><br>
    <input type="text" name="genres" placeholder="Genres"><br>
    <input type="text" name="poster" placeholder="Poster URL"><br>
 
    <input type="submit" value="Save">


</form>


{{#each movies}}
<p>
    <a href="/movies/{{id}}">{{poster}} {{title}} ({{year}}) <br> Rating: {{rating}} Genres: {{genres}}</a>
</p>
{{/each}}

